
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');
/* RESET STYLE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*nav */

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*nav */
body{
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Titillium Web', Tahoma, sans-serif, monospace;
    height: 100vh;
    width: 100%;
    padding:0;
    background-image: url("webBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* MOBILE DISPLAY */
nav {
    z-index: 9999;
    position: relative;
    top: 0;
    width: 100%;
}

.container0 {
    display: inline-block;
    height: 60px;
    width: 100%;
    background: #ECECEC;
}

.nav {
    z-index: 2;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    display: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    position: relative;
    top: -4px;
    overflow: hidden;
}

.open {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: 300ms show ease-out forwards;
    animation: 300ms show ease-out forwards;
}
ul a {
    text-align: center;
    display: block;/*inline-block*/
    color: rgb(247, 247, 247);
    padding: 20px 30px;
    font-size: 18px;
    border-top: 1px #BDC3C7 solid;
    text-decoration:none;
}
.nav .icon {
  display: none;
}
ul a:hover {
    background-color: #fbfc70;
    color: rgb(0, 0, 0);
}
/* DESKTOP MODE */
@media (min-width: 500px) {
#nav {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        justify-content: center;
        -webkit-flex-direction: row;
        top: 0;
    }
    .open {
        flex-direction: row;
        -webkit-flex-direction: row;
    }
    ul a {
        border-top: 0;
    }
    .container0 {
        display: none;
    }
}

/* ANIMATION */
@-webkit-keyframes show {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes show {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}




/* card */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
#card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    padding-bottom: 15px;
    background-color: white;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    opacity: 0.0;
}

#card img{
    background-color: rgba(189, 189, 189, 0.1);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px rgba(218, 218, 218, 0.4);
    padding: 5px;
    margin-top: -70px;
}

#card h2{
    margin: 10px 0;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.cont{
    width: 90%;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
    line-height: 1.6;
}
#card .cont .link {
    margin: 10px 0px;
}
#card .cont .link a{
    margin: 0px 15px;
}
#card .cont .link i{
    font-size: 35px;
    color: rgb(82, 82, 82);
    transition: all 0.2s ease;
}

#card .cont .link i:hover{
    cursor: pointer;
}
#card .cont .link .fa-facebook:hover{
    color: #4267B2;
}
#card .cont .link .fa-github:hover{
    color: #1b1b1b;
}
#card:hover > .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 230px;
}

#card:hover > .link{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.anim{
    -webkit-animation: 1700ms gayeb ease-out forwards;
    animation: 1700ms gayeb ease-out forwards;
}

@-webkit-keyframes gayeb {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gayeb {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim2{
    -webkit-animation: 700ms udvut ease-out forwards;
    animation: 700ms udvut ease-out forwards;
}

@-webkit-keyframes udvut {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes udvut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#about{
    -webkit-animation: tiptup 2s infinite;
    animation: tiptup 2s infinite;
}
@-webkit-keyframes tiptup {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: #fcfc705e;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes tiptup {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: #fcfc705e;
    }
    100% {
        background-color: transparent;
    }
}
