@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');

:root{
    --yellow : #fbfc70;
    --green: #46c713;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Titillium Web', Tahoma, sans-serif, monospace;
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0;
    background-image: url("BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* Mobile setting */
@media only screen and (max-width: 600px) {
    body {
      background-image: url("mobileBG.jpg");
    }
}

/* Nav Bar */

nav {
    position: relative;
    top: 0;
    width: 100%;
}
.nav {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
}
ul a {
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(247, 247, 247);
    background-color: #000000cc;
    width: 90px;
    height: 40px;
    font-size: 18px;
    border: 1px #BDC3C7 solid;
    text-decoration:none;
}
ul a:hover {
    background-color: var(--yellow);
    color: rgb(0, 0, 0);
}
/* Mobile setting */
@media only screen and (max-width: 600px) {
    ul a:hover{
        background-color: var(--green);
    }
}
/* ANIMATION */


/* card */
*{
    margin: 0;
    padding: 0;
}
#card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow:  0px 0px 10px 1px var(--yellow);
    width: 310px;
    padding-bottom: 15px;
    background-color: white;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    opacity: 0.0;
    transition: all 0.6s ease;
}
/* Mobile setting */
@media only screen and (max-width: 600px) {
    #card{
        box-shadow:  0px 0px 20px 2px var(--green);
        background-color: rgb(201, 201, 201);
    }
}




#card #pic{
    background-image: url('formalPIC.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 40px 2px #dadada80;
    padding: 5px;
    margin-top: -70px;
    transition: all 0.6s ease;
    border-radius: 50%;
}
#card h2{
    margin: 10px 0;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.cont{
    width: 90%;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
    line-height: 1.6;
}
#card .cont .link {
    margin: 10px 0px;
}
#card .cont .link a{
    margin: 0px 15px;
}
#card .cont .link i{
    font-size: 35px;
    color: rgb(82, 82, 82);
    transition: all 0.2s ease;
}
#card:hover{
    border-radius: 20px;
}
#card:hover #pic{
    box-shadow: 0px 0px 100px 5px #dadada85;
    background-color: #dadada30;
}
#card .cont .link i:hover{
    cursor: pointer;
}
#card .cont .link .fa-facebook:hover{
    color: #4267B2;
}
#card .cont .link .fa-github:hover{
    color: #1b1b1b;
}

#card:hover > .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 230px;
}

#card:hover > .link{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
/* Card Appearing Animation */
.cardAppear{
    -webkit-animation: 1700ms appear ease-out forwards;
    animation: 1700ms appear ease-out forwards;
}

@-webkit-keyframes appear {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Card Disappearing Animation */
.cardDisappear{
    -webkit-animation: 1700ms disappear ease-out forwards;
    animation: 1700ms disappear ease-out forwards;
}

@-webkit-keyframes disappear {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* About Button Blinking */
#about{
    -webkit-animation: blink 2s infinite;
    animation: blink 2s infinite;
}
@-webkit-keyframes blink {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: var(--yellow);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes blink {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: var(--yellow);
    }
    100% {
        background-color: transparent;
    }
}
/* Mobile setting */
@media only screen and (max-width: 600px) {

    #about{
        -webkit-animation: blink 2s infinite;
        animation: blink 2s infinite;
    }
    @-webkit-keyframes blink {
        0%{
            background-color: transparent;
        }
        50%{
            background-color: var(--green);
        }
        100% {
            background-color: transparent;
        }
    }
    
    @keyframes blink {
        0%{
            background-color: transparent;
        }
        50%{
            background-color: var(--green);
        }
        100% {
            background-color: transparent;
        }
    }
}
